<form class="reg-form" method="post">
    <h4>Register</h4>
    <div class="form-group">
        <label for="name">Agent name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter username"
        name="username" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email"
        name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Choose a password"
        name="password" required>
    </div>
    <p>By clicking this you are agree to become a CIA agant</p>
    <button type="submit" class="btn submit">Register</button>
</form>